<suite name="Mobile">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="core.listeners.AllureListener"/>
    </listeners>

    <test name="MobileTests">
        <classes>
            <class name="tests.Hooks"/>
            <class name="tests.LoginTest"/>
            <class name="tests.CartTest"/>
        </classes>
    </test>

</suite>
